# Connection details
*db_login_details.php
Scripts/connection_data.py
EventApplications/CommonClasses/DatabaseDetails.cs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

# Useless
~$*
*~
.vs/
*.[Cc]ache
*.pdb
*.suo
visual studio 2013/
