body{
    margin: 0; padding: 0; background-image: url("../pics/maxresdefault.jpg");
    background-size: cover;
    background-attachment: fixed;
}
div{margin: 0; padding: 0;}

div.toolbar-container {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 8vh;
  overflow: hidden;
    background-color: rgba(24,5,21,0.7);
}

div.toolbar {
  position: fixed;
  width: 60vw;
  height: 8vh;
  overflow: hidden;
  margin-left: 20%;
  margin-right: 20%;
}

div.logo-container {
  position: fixed;
  display: inline-block;
  width: 20vw;
  height: 8vh;
  overflow: hidden;
}

img.logo {
  width: 100%;
  height: 100%;
}

div.toolbar-nav {
  display: inline-block;
  width: 18.7vw;
  height: 8vh;
  float: right;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.nav-item {
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 8vw;
  vertical-align: middle;
  padding-top: 1vh;
  overflow: hidden;
}

p.nav-btn {
  margin-top: 1.7vh;
  text-align: center;
  font-size: 16;
}

div.body {
  text-align: center;
  width: 70vw;
  margin: auto;
  margin-top: 10vh;
}

div.body1 {
  text-align: center;
  width: 70%;
  margin: auto;
    margin: 1%;
  margin-top: 10vh;
    margin-left: 5%;
    float: left;
}

a{
	color:#FFF;
	text-decoration:none;
}

li{
    display: inline;
    float: left;
}
.bgc{
    background-color: rgba(62,14,54,0.9);
    padding-left: 5%;
    padding-right: 5%;
}
.info-list {
    color: aliceblue;
}
.sup{
    width: 20%;
    margin: 1%;
  margin-top: 10vh;
    float: left;
}